/* expirimenting with dark theme */
/* root var defs */
:root {
	/* variable color defs */
	--backgroundColor:#303030;
	--secondaryBackgroundColor:#202020;
	--teritaryBackgroundColor:#1c1c1c;
	--accentColor:#00FFCC;
	--fontColor:#fff;
	--secondaryFontColor:#a0a0a0;
}
/* imports */

/* responsive design */
body {
	background-color:var(--backgroundColor);
	color:var(--fontColor);
	padding:20px;
}
h1 {
	font-family:sans-serif;
	font-weight:bold;
	font-style:italic;
	color:var(--fontColor);
}
h2 {
	font-family:sans-serif;
	font-style:italic;
	color:var(--fontColor);
}
a {
	color:var(--fontColor);
	text-decoration:none;
	font-family:sans-serif;
	font-weight:100;
	font-style:italic;
	transition:font-weight 0.8s, color 0.8s;
}
a:hover {
	color:var(--accentColor);
	text-decoration:none;
	font-family:sans-serif;
	font-weight:300;
	font-style:italic;
}
p {
	font-family:sans-serif;
	color:var(--secondaryFontColor);
	border-style:none;
	border-radius:1em;
}
.monospace {
	font-size:120%;
	font-family:monospace;
	line-height:2em;
	color:var(--accentColor);
	background-color:var(--secondaryBackgroundColor);
	padding:2em;
}
i.code-comment {
	font-family:monospace;
	font-size:inherit;
	color:var(--secondaryFontColor);
	padding:5px;
	border-radius:1em;
	background-color:var(--teritaryBackgroundColor);
}
.sublist-header {
	color:var(--accentColor);
}
.notice {
	border-radius:25px;
	border-color:var(--accentColor);
}