@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC'); /* Alegreya Sans SC */

body {
}
h1 {
 color:#ffffff;
 font-family:'Alegreya Sans SC', sans-serif;
}

p {
 color:#ffffff;
 font-family:'Alegreya Sans SC', sans-serif;
}
a {
 border-style:solid;
 border width
 border-color:#ffffff;
 padding: 7px;
 color:#ffffff;
 background-color:rgba(255, 255, 255, 0)
 -webkit-transition: 0.5s;
 transition: 0.5s;
 }
a:hover {
 background-color:rgba(255, 255, 255, 255)
 color: rgba(255, 255, 255, 0)
}
/* queries */
@media 
