@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC'); /* Alegreya Sans SC */

body {
}
h1 {
 color:#ffffff;
 font-family:'URW Gothic Book', 'Alegreya Sans SC', sans-serif;
}

p {
 color:#ffffff;
 font-family:'URW Gothic Book', 'Alegreya Sans SC', sans-serif;
}
a {
 color:#ffffff;
}
