/* css def.css */
/* font imports */
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC');
/* elements */
html {
	background-image: url(https://raw.githubusercontent.com/parkcitymedia/parkcitymedia.github.io/master/web/style/assets/jpgDarkNoise1.jpg);
	background-color:#808080;
}body {
	text-align:center;
	background-repeat:no-repeat;
	background-height:100%;
	background-width:100%;
	background-position:left top;
	background-attachment:fixed;
}h1, h2, h3, h4, h5, h6 {
	color:#EFEFEF;
	font-family:"Alegreya Sans SC", "Nunito", sans-serif;
	font-style:bold-italic;
}p {
	background-color:rgba(0, 0, 0, 0);
	color:#fff;
	font-family:"Nunito", sans-serif;
	font-style:normal;
}
/* identifiers */
#melonblue {
	color:#c4f0ff;
}
#sig {
	color:rgba(255, 255, 255, 80);
}
#welcomediv {
	border-style:solid;
	border-width:2px;
	border-color:#505050;
	border-radius:7px;
	background-color:rgba(100, 100, 100, 150);
}#main {
	border-style:solid;
	border-color:rgba(100, 100, 100, 150);
	border-radius:15px 15px 15px 15px;
	background-color:rgba(100, 100, 100, 150);
}
