/* css def.css */
/* font imports */
@import url('https://fonts.googleapis.com/css?family=Nunito');
/* elements */
html {
	background-color:#808080;
}body {
	text-align:center;
}h1 {
	color:#EFEFEF;
	font-family:"Nunito", sans-serif;
	font-style:bold, italic;
}p {
	background-color:rgba(0, 0, 0, 0);
	color:#fff;
	font-family:"Nunito", sans-serif;
	font-style:normal;
}
/* identifiers */
#welcomediv {
	border-style:solid;
	border-width:2px;
	border-color:#505050;
	border-radius:7px;
	background-color:rgba(100, 100, 100, 150);
}
/* classes */
