html{
	background-image:url(https://cdn.discordapp.com/attachments/332952636997238785/521028447061934104/depositphotos_39637835-stock-photo-seamless-texture-of-watermelon.jpg);
	background-size:100% auto;
	background-repeat:repeat-y;
	background-attachment:fixed;
	background-color:#ddd;
}
body {
html{
	background-image:url(https://cdn.discordapp.com/attachments/332952636997238785/521028447061934104/depositphotos_39637835-stock-photo-seamless-texture-of-watermelon.jpg);
	background-size:100% auto;
	background-repeat:repeat-y;
	background-attachment:fixed;
}
/* classes */
.techfeedmain {
	position:bottom;
	size:90%;
	border-style:solid;
	border-color:rgba(0, 0, 0, 0);
	border-radius:10px;
/* used for the tech blog A https://melontech.tumblr.com/ */
